// Base color
$top-menu-color: #ebebeb;
$main-title-color: #ffffff;
$main-sub-title-color:#ebebeb;
$title-color: #3a3a3a;
$sub-title-color: #797979;
$brand-title-color: #ffffff;
$brand-sub-title-color: #9c9b9b;
$contact-title-color: #3a3a3a;
$contact-sub-title-color: #d5d5d5;
$title-border-color: #e9e9e9;
$white: #fff;
$intro-button-background: #d75543;
$intro-button-background-hover: #bd4737;


// Base Font

$font-stack:    'Source Sans Pro', sans-serif;
$primary-color: #333;
$font-thin: 200;
$font-normal: 300;
$font-semi-bold: 400;
$font-bold: 500;
$font-main: 600;

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
}
@font-face {
font-family: 'Glyphicons Halflings';
	src:url('../fonts/glyphiconshalflings-regular.eot');
	src:url('../fonts/glyphiconshalflings-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glyphiconshalflings-regular.ttf') format('truetype'),
		url('../fonts/glyphiconshalflings-regular.woff') format('woff'),
		url('../fonts/glyphiconshalflings-regular.svg#glyphiconshalflings-regular') format('svg');
//   src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.eot'), '#{$icon-font-path}#{$icon-font-name}.eot'));
//   src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.eot?#iefix'), '#{$icon-font-path}#{$icon-font-name}.eot?#iefix')) format('embedded-opentype'),
//        url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.woff'), '#{$icon-font-path}#{$icon-font-name}.woff')) format('woff'),
//        url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.ttf'), '#{$icon-font-path}#{$icon-font-name}.ttf')) format('truetype'),
//        url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}'), '#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}')) format('svg');
}
// Some Mixin

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
/* ======================
  Custom style index
  ------------------
1. Common
2. Intro
3. Services
4. Profile
5. Who we are
6. Brand
7. Contact
8. Footer
9. Sticky-nav
10. Resopnsive Part Start from Here
11. Retina
========================= */


@import "animation";
@import "responsive";
