/* Resposive Work */
/* -----------  Low Resulation Desktop ----------- */

@media only screen
and (min-width : 991px)
and (max-width : 1199px) {
/*	=== Service === */

}

/* -----------  iPads  ----------- */

@media only screen
and (min-width : 768px)
and (max-width : 991px) {

}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 767px) {

}

/* phones (portrait) ----------- */
@media only screen
and (max-width : 479px) {

}

/* phones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

}
/* Retina Tweak ----------- */
@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

  }
